<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Device (EC0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUMwXw==
					</data>
					<key>Replace</key>
					<data>
					RUNfXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device (EHC1)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device (EHC2)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device (GFX0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device (B0D3)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QjBEMw==
					</data>
					<key>Replace</key>
					<data>
					SERBVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Device (SAT0)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method (_DSM)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Method  (_OSI)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IRQFix (IPIC )</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SVBJQw==
					</data>
					<key>Replace</key>
					<data>
					SVBJWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IRQFix (TIMR)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					VElNUg==
					</data>
					<key>Replace</key>
					<data>
					VElNWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IRQFix (RTC)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					UlRDXw==
					</data>
					<key>Replace</key>
					<data>
					UlRYXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IRQFix (HPET)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SFBFVA==
					</data>
					<key>Replace</key>
					<data>
					SFBFWg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (MHPF)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUhQRg==
					</data>
					<key>Replace</key>
					<data>
					TUhQWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (MHIF)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUhJRg==
					</data>
					<key>Replace</key>
					<data>
					TUhJWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (SMTF)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U01URg==
					</data>
					<key>Replace</key>
					<data>
					U01UWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (GBID)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0JJRA==
					</data>
					<key>Replace</key>
					<data>
					R0JJWA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (_BIF)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJRg==
					</data>
					<key>Replace</key>
					<data>
					WEJJRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>BATT (_BST)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JTVA==
					</data>
					<key>Replace</key>
					<data>
					WEJTVA==
					</data>
				</dict>
			</array>
		</dict>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>MacOS</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>Timeout</key>
		<integer>0</integer>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x02,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				BgAmFg==
				</data>
				<key>device-id</key>
				<data>
				FhYAAA==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>metal</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro12,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
