<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Comment</key>
			<string>XBST</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>X0JTVA==</data>
			<key>Replace</key>
			<data>WEJTVA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>XBIF</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>X0JJRg==</data>
			<key>Replace</key>
			<data>WEJJRg==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>SMTF</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>U01URg==</data>
			<key>Replace</key>
			<data>WE1URg==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>GBID</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>R0JJRA==</data>
			<key>Replace</key>
			<data>WEJJRA==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>MHIF</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>TUhJRg==</data>
			<key>Replace</key>
			<data>WEhJRg==</data>
		</dict>
		<dict>
			<key>Comment</key>
			<string>MHPF</string>
			<key>Disabled</key>
			<false/>
			<key>Find</key>
			<data>TUhQRg==</data>
			<key>Replace</key>
			<data>WEhQRg==</data>
		</dict>
	</array>
</dict>
</plist>
